

body {
  
  background: aquamarine;
  background-size: cover;  
  background-attachment: fixed; 
  
}

h1{
text-align: center;
font-size: 50px;
}

.start{
font-size: 25px;
}

.reset{
  font-size: 25px;
}

#playerStats{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  font-size: 30px;
}

section {
  display: grid;
 grid-template-columns: repeat(4,130px);
 grid-template-rows: repeat(4,130px);
 grid-gap: 20px;
 perspective: 800px;/*you have to put this on the parent element if you are doing preserve-3d on the child(card) */
 justify-content: center;
} 

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s ease;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none; /*you have to add this so when clicked the front/back doesn't return, we just want card returned*/
}

.back {
  background: black;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

/*referenced Jeff Cuartas blog on how to create flip effect sent to me by Gore and also W3 schools and stack Overflow, especially with how to use the toggleCard*/