body {
  
  background: aquamarine;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
text-align: center;
font-size: 50px;
}

section {
  display: grid;
 grid-template-columns: repeat(4,130px);
 grid-template-rows: repeat(4,130px);
 grid-gap: 30px;
 perspective: 800px;/* you have to put this on the parent element if you are doing preserve-3d on the child(card)*/
} 

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s ease;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none; /*you have to add this so when clicked the front/back doesn't return, we just want card returned*/
}

.back {
  background: white;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

/*referenced Jeff Cuartas blog on how to create flip effect sent to me by Gore and also W3 schools and stack Overflow, especially with how to use the toggleCard*/